p {
    font-family: 'Roboto', arial, sans-serif;
    text-align: center;
    
    font-size: 70px;
}

body {
    margin: 0px
}

input {
    display: block;
    margin : 0 auto;
    border-radius: 20px;
    border: 1px solid lightgray;
    width: 100%;
    padding: 10px;
    padding-left: 30px;
}

input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fa-search {
    display: block;
    margin : 0 auto;
    border-radius: 20px;
    padding: 10px;
}

.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    text-align: left; 
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li a {
    color: #5f6368;    
    float: left;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  .right-side {
    float: right; 
    
  }
  #ninedots {
    background-image: url("./ninedots.png");
    float: right;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-top: 9px;
    padding: 10px 10px;
  }

  #image-round {
    background-image: url("./asia.png");
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  button {
    border: 1px solid #f2f2f2;;
    padding: 10px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    border-radius: 4px;
    margin: 5px
  }
 
  button:hover {
    border-color: grey;
  } 

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    background-color: #e6e6e6;
    }
  
  

